.section {
  background: #fff;
  padding: 60px 0;
  box-shadow: var(--box-shadow);
}

.title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 24px;
}

.embla {
  overflow: hidden;
  padding: 12px 12px;
}

.containerEmbla {
  display: flex;
  gap: 20px;
}

.slide {
  flex: 0 0 350px;
  border-radius: 14px;
  padding: 10px 40px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.slide:hover {
  box-shadow: var(--box-shadow);
  background-color: #ffffff;
}

.image {
  width: 100%;
  aspect-ratio: 2 / 3;
}
