.header {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 40px;
}

.title {
  font-size: 60px;
  font-weight: 500;
  color: var(--color-textFirst);
}

.container {
  display: grid;
  grid-template-columns: 2fr 1.3fr;
  gap: 60px;
  align-items: start;
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.checkoutPay {
  position: sticky;
  top: 200px; 
  align-self: start;
}
