.category {
  display: grid;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 40px;
}

.title {
  font-size: 60px;
  font-weight: 500;
  color: var(--color-textFirst);
}

@media (min-width: 0px) {
  .category {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .category {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .category {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
