.button {
  flex: 1;
  width: 100%;
  background-color: rgb(13, 89, 220);
  cursor: pointer;
  border-radius: 50px;
  border: none;
  padding: 14px;
  transition:
    background-color 300ms ease,
    box-shadow 300ms ease;

  box-shadow: 0 2px 12px rgba(13, 89, 220, 0.35);
}
.button:hover {
  background-color: rgb(30, 110, 255);
  box-shadow: 0 6px 20px rgba(13, 89, 220, 0.55);
}

.icon {
  font-size: 24px;
  color: white;
}
