.wrapper {
  position: relative;
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--color-overlay);
  opacity: 0;
  pointer-events: none;
  z-index: 900;
  transition:
    opacity 300ms ease,
    background-color 500ms ease;
}

.overlayOpen {
  opacity: 1;
  pointer-events: auto;
}


