.search {
  display: flex;
  align-items: center;
  background-color: rgba(165, 187, 205, 0.237);
  border-radius: 50px;
  padding: 6px 16px;
  transition: box-shadow 0.3s ease;
}

.search:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.search:focus-within {
  box-shadow: 0 0 0 2px rgb(13, 89, 220);
}

.search input {
  border: none;
  outline: none;
  background: transparent;
  padding: 14px 12px;
  font-size: 20px;
  min-width: 420px;
}

.icon {
  font-size: 25px;
  color: rgb(0, 0, 0);
  flex-shrink: 0;
}
